[Desktop Entry]
Name=Wireshark
Comment=Network protocol analyzer
Exec=wireshark
Icon=wireshark
Terminal=false
Type=Application
Categories=SniffingSpoofing;
